[2021-01-25 16:52] tschaffter opened #1 "Add initial pages"

[2021-01-25 17:39] tschaffter opened #2 "Add CI/CD to automatically push pages to staging"
The idea is to enable review of changes and track most of the actions that we perform manually when updating a production project website on Synapse.

Suggestion:
- Pushing to `staging` automatically push the content of the folder `pages` to the staging site on Synapse
- Pushing to `main` automatically push the content of the folder `pages` to the production site on Synapse

Add protection to the

[2021-01-25 17:43] tschaffter opened #3 "Add page that describes SOP for returning logs to developers"
This page can be added to the internal section of the staging site:

For Sage Data Hosting Site:

- Login to Sage VPN
- Go to Kibana
- Find logs associated to the submission ID specified
- ...

@thomasyu888 Can you give a shot to complete this brief SOP?

[2021-01-25 17:48] tschaffter commented on #2
Actually concerning the private internal pages that we are used to have on the staging site and not on the production site: if we want to keep them, we don't want the production branch (main) to be identical to the staging branch. Instead, we could discard the use of the branch (main) - or use it for the staging site - and rely on the creation of Releases to update the production site. When a rele

[2021-01-25 17:52] tschaffter commented on #2
Could the command `download-wiki` be added to the official release of `challengeutils`, if you consider it mature enough? This would simplify the CI/CD workflow instead of having to clone a specific branch or commit. Alternatively we could create a docker image.

[2021-01-25 18:57] tschaffter commented on #1
Initial commit of the wiki pages pushed to the branch `staging`.

[2021-01-25 18:57] #1 closed

[2021-01-25 19:52] tschaffter commented on #2
Unless absolutely needed, I would like to keep this repo public for transparency and use as an example in future projects. Therefore we must not include private information in the `Internal` section of the pages because this information would still be public in this repo.

[2021-01-25 23:32] thomasyu888 commented on #2
No issues with the second approach. I tend to like the staging site as we still most likely need to view things in Synapse prior to releasing it to the public.

I can work on adding this to the release.

[2021-01-26 01:52] tschaffter commented on #2
I reopen this ticket because the PR merge failed. I'll investigate what the issue is.

[2021-01-26 04:25] #2 closed

[2021-01-26 22:34] tschaffter opened #7 "Identify protocol used in the 2014 i2b2 dataset that human followed to annotate notes"
We need to fully understand and share with the NLP tool developers the instructions that humans have used to annotate the i2b2 dataset.

## Task

Locate the protocol that the organizers of the i2b2 challenge have used to annotate their dataset and share the link here.

[2021-01-26 22:51] tschaffter opened #8 "Add support for adding and removing pages and editing page titles using GitHub"
## Background

The current workflow involved creating a Release of the repo to publish to the production site using `challengeutils mirror-wiki`. In order to have an effect, someone with write permission to the production Synapse project must create manually a structure of pages that is a subset of the structure of pages from the staging site. The command `challengeutils mirror-wiki` will then onl

[2021-01-26 22:54] tschaffter opened #9 "Update CI/CD to use PyPi challengeutils release"
Currently I'm using a branch of the [Sage-Bionetworks/challengeutils](https://github.com/Sage-Bionetworks/challengeutils). When the new commands introduced by this branch are merged and integrated to a PyPi release, use the PyPi version of `challengeutils` in the CI/CD workflow of this repo.

Depends on https://github.com/Sage-Bionetworks/challengeutils/pull/133

[2021-01-27 02:19] thomasyu888 commented on #8
@tschaffter It is important to pull down the state of the current production site.  The thing that you can't do is delete or move pages around with `wiki_config.json`, so you would have to `pull-wiki` if you do those things.  You can however add pages and the `id` gets filled into the new `wiki_config.json`.  I am fine with having a configuration for both staging and production (but the code doesn

[2021-01-28 06:47] thomasyu888 opened #11 "Document how to score submissions manually"
1. download goldstandard
[code]
2. download submission
[code]
3. evaluate
[code]

[2021-01-28 16:31] tschaffter commented on #7
@gkowalski Can you share here the link to the resource mentioned in the title?

[2021-01-28 17:14] gkowalski commented on #7
I'll look for it on their web site. I don't remember seeing it.

[2021-01-28 19:13] gkowalski commented on #7
I looked all over the web site https://portal.dbmi.hms.harvard.edu/ where the data sets were provided.

All I could find was the following in their "Manage Signed Agreement Form" I signed to get access to the data :

WHEREAS, to the extent permitted by its **Institutional Review Board and institutional policies**, Partners now wishes to make the Data, in the form of one or more "Datasets," availab

[2021-01-29 00:29] tschaffter opened #12 "Create NLP Sandbox Rules page"
Page to edit:

https://github.com/nlpsandbox/nlpsandbox-website-synapse/blob/staging/wiki/RulesResources.md

Notes:
- This is a continuous benchmarking project
- This is not a DREAM challenge

[2021-01-29 00:33] tschaffter opened #13 "Update Registration button on Synapse"
The current registration button (click wrap) has been created a long time ago and I don't remember what it looks like. We need to review it and update it.

This ticket is maybe depending on #12, #14

[2021-01-29 00:36] tschaffter opened #14 "Identify protocol to apply when the terms of use change"
There are two reasons the rules may change while the project is active:

- This is a continuous benchmarking project, that is, it has currently no end date
- We are working to onboard new data sites. These sites may required NLP Sandbox user to agree to new use terms.

[2021-01-29 00:50] tschaffter commented on #14
@thomasyu888 Do you have insights on how the clickwrap works?

[2021-01-29 01:22] tschaffter commented on #13
Here is the current only page of the registration popup:

![image](https://user-images.githubusercontent.com/3056480/106219022-70760d80-618d-11eb-8ec0-da3597681f4b.png)

[2021-01-29 01:48] thomasyu888 commented on #13
The clickwrap is something only the governance team can help us with.

[2021-01-29 02:04] tschaffter opened #17 "Create banner v2"
Ultimately I would like to work with Stockard on a nicer banner.

[2021-01-29 02:05] tschaffter opened #18 "Create project logo"
- For GH
- For DockerHub
- For Synapse Project/Team
- For Discord

[2021-01-29 03:11] thomasyu888 commented on #14
@tschaffter I don't think so.  A click wrap is added on a team specific level, so you can add the same click wrap to two different teams, but people would still have to accept the terms twice...  I don't really like the idea of having multiple teams per new click wrap.

Ideally if new access controls are added to a team or Entity, people should have to re-accept the terms of use... Not sure how di

[2021-01-29 03:12] tschaffter opened #21 "Add markdown linter to CI/CD"
This implementation seems the most popular and easy to install (npm):
https://github.com/DavidAnson/markdownlint

If needed, add a custom config file to accept Synapse-specific lines.

[2021-01-29 03:17] tschaffter commented on #14
Maybe 1 clickwrap to end up in the global user team + N * 1 clickwrap to be added to a team like "NLP Sandbox Terms Of Use YYYY-MM-DD"

where N is the number of times we set/change the terms of use. Permission would be given only to the member of the latest "NLP Sandbox Terms Of Use YYYY-MM-DD" team.

[2021-01-29 03:18] thomasyu888 commented on #14
Im going to post this use case in jira... because us having to manage permissions for N number of teams could be a logistical nightmare.

But agreed with the current solution.

[2021-01-29 03:22] tschaffter commented on #14
Or actually we can stick with one team "NLP Sandbox Agreed to Terms Of Use"  that we empty when we update the terms of use. It's OK to empty this team because we would now have the other, global team that include all users who have ever registered.

[2021-01-29 03:33] thomasyu888 commented on #14
I like that solution better: https://sagebionetworks.jira.com/browse/PLFM-6590.   We could essentially mask the "Register for a challenge" button with. "Accept the NLP sandbox terms of use".  Every time there are new terms, then people would have to accept to the new terms.

[2021-02-02 01:50] tschaffter commented on #3
I was able to reproduce the [initial SOP](https://www.synapse.org/#!Synapse:syn22277124/wiki/608145) put together by @thomasyu888 on Synapse.

Here are the next steps I'll do before closing this ticket:

- [ ] Try saving images on GitHub (try image-related markdown option like image scale)
- [ ] Make sure that the markdown SOP in this repo can be pushed to Synapse and that it looks good there.

[2021-02-02 06:08] #9 closed

[2021-02-02 19:29] #3 closed

[2021-02-03 01:39] tschaffter opened #28 "Fix wiki structure"
The CI/CD workflow failed when merging the last PR, which I kind of expected giving the scale of the refactoring.

[code]

[2021-02-03 01:46] tschaffter opened #29 "Document how to stop a running submission"
Submitters have the option to cancel their submission as long as the submission has not started yet. However, it happens that submitters contact us to stop their submissions when they notice that they did a mistake - or they added a `while(true)` somewhere - and don't want their quota to be eaten.

Describe how to stop a running submission and perform necessary actions to make sure that the follow

[2021-02-03 03:55] tschaffter commented on #28
The error is still there, but I can successfully run the push command locally.

[2021-02-03 04:00] tschaffter commented on #29
It looks like it's an issue with the file names. This is not the first time GitHub is not able to distinguish between upper and lowercases.

Here is what I have locally after running `git pull`

[code]

Here are the filenames visible on GH:

![image](https://user-images.githubusercontent.com/3056480/106696314-48bde580-6591-11eb-9341-7933db0fcfa2.png)

[2021-02-03 04:19] tschaffter commented on #29
The solution was to rename the file, commit, rename and commit again.

[2021-02-03 04:20] tschaffter commented on #28
It looks like it's an issue with the file names. This is not the first time GitHub is not able to distinguish between upper and lowercases.

Here is what I have locally after running `git pull`

[code]

Here are the filenames visible on GH:

![image](https://user-images.githubusercontent.com/3056480/106696314-48bde580-6591-11eb-9341-7933db0fcfa2.png)

[2021-02-03 04:20] #28 closed

[2021-02-03 04:20] tschaffter commented on #28
The solution was to rename the file, commit, rename and commit again.

[2021-02-03 05:17] tschaffter opened #32 "Describe the 2014 i2b2 dataset"
Describe the 2014 i2b2 dataset here:
https://github.com/nlpsandbox/nlpsandbox-website-synapse/blob/staging/wiki/608223-2014i2b2NLPDeidChallengeDataset.md

Provide a short paragraph describing the history and content of the dataset, number of notes in the training and evaluation dataset (it's public information), include References section with a few references to papers, website, etc.

[2021-02-04 22:01] ychae commented on #13
@thomasyu888  is correct. @tschaffter have you reached out to someone on the governance team about this? If not, I can do so.

[2021-02-04 22:30] ychae commented on #13
Email sent to Ann

[2021-02-04 23:31] ychae commented on #12
@tschaffter would you be able to give me write access to this repo? I don't seem to be able to push any changes.

[2021-02-05 01:17] ychae commented on #13
Tracking in JIRA: https://sagebionetworks.jira.com/browse/SG-3700

[2021-02-05 01:35] ychae commented on #13
@tschaffter and @thomasyu888 please edit this copy below (or point me to where I can find additional information) for the updated click-wrap:

[2021-02-05 04:07] tschaffter commented on #12
@ychae Done. You now have Maintain access to this repo.

[2021-02-05 04:14] tschaffter commented on #13
Replace the paragraph

by

The rest looks good!

[2021-02-08 21:15] tschaffter opened #36 "Submit examples using the Organizers team"
@thomasyu888 Organizers are not fair game when it comes to ask Synapse users to join your team. :)

![image](https://user-images.githubusercontent.com/3056480/107282032-52bb6a80-6a0f-11eb-8373-f9e49e07a4ac.png)

What about:

- We register the organizer team to the challenge (this will remove us from the list of available participants)
- Submit the example tools using our organizers team. This way

[2021-02-09 01:52] tschaffter commented on #12
## Update

The Rules page has been updated today. Keeping this ticket open until we figured out the rules for dataset usage.

[2021-02-09 04:52] yy6linda commented on #32
Hi Thomas, I send a [PR](https://github.com/nlpsandbox/nlpsandbox-website-synapse/pull/38) for this issue. However I don't have permission to assign a reviewer.

[2021-02-09 08:08] thomasyu888 commented on #36
😆 Great idea @tschaffter :  can you give me manager access to this team: https://www.synapse.org/#!Team:3413390

[2021-02-09 16:20] tschaffter commented on #36
Done

[2021-02-09 16:20] #36 closed

[2021-02-10 05:18] tschaffter commented on #12
https://sagebionetworks.jira.com/browse/SG-3700

[2021-02-11 04:03] tschaffter commented on #21
The linter `markdownlint` is now part of the CI/CD workflow.

[2021-02-11 04:03] #21 closed

[2021-02-11 04:04] tschaffter commented on #32
Done in #39

[2021-02-11 04:04] #32 closed

[2021-02-12 01:20] tschaffter commented on #8
Related to https://sagebionetworks.jira.com/browse/PLFM-6603

[2021-02-12 01:40] tschaffter opened #42 "Add dataset name and version, and tool license to leaderboard tables"
### Is your proposal related to a problem?

Each leaderboard table have a column called `Dataset Version`. The value display in this column is the concatenation of a dataset name (e.g. "2014-i2b2") and version (e.g. "20201203").

### Describe the solution you'd like

We want to be able to filter separately by dataset name and dataset version. MCW is working on preparing a private dataset that will

[2021-02-13 05:28] tschaffter commented on #12
@thomasyu888 I would be interest to hear your feedback about the [project rules](https://github.com/nlpsandbox/nlpsandbox-website-synapse/blob/staging/wiki/604831-Rules.md).

[2021-02-13 11:08] thomasyu888 commented on #12
The terms look good to me - may be beneficial for someone on governance to look this over as well. One thing Im always curious about is how we enforce these terms.

[2021-02-13 17:33] tschaffter opened #44 "Create nlpsandbox.io redirections"
- nlpsandbox.io -> production site
- nlpsandbox.io/videos -> YouTube channel/playlist?
- nlpsandbox.io/tools/phi-deidentifier -> PHI deidentifier app
- discord.nlpsandbox.io -> discord server

[2021-02-13 23:23] tschaffter opened #45 "Review submission sharing (license, rules, protocol)"
The current Rules state that the [submissions must not contain proprietary content and that the submissions will be released under an open source license](https://github.com/nlpsandbox/nlpsandbox-website-synapse/blame/staging/wiki/604831-Rules.md#L19-L26).

Comments:

- @ychae Does this rule come from the DREAM Challenge rules? Often challenge participants can choose after the end of the challenge

[2021-02-15 16:58] allaway commented on #45
I have a few thoughts regarding the broader question that you posed on slack:

Context probably matters here. What is the goal? With DREAM challenges, the goal seems often to spur innovation in a specific *under served* problem area, release those models to the public to facilitate future development (hence the rule you highlighted above), and reward the people who produce the top methods with cas

[2021-02-15 21:57] tschaffter commented on #42
Here are information that we want to surface in the leaderboard table or on the website

### Dataset name and version

Two pieces of information that we want to use to explore/filter submissions

### Dataset schema version

It is important to know the version of the schemas used by the dataset, but not to explore submissions. The dataset schema version could be specified in the changelog of the da

[2021-02-16 15:18] tschaffter commented on #45
Thanks @allaway ! I agree that different organization should be able to define different model release strategies. From the perspective of an architect of the new challenge platform, I can contribute by outlining the different model release strategy we (Sage) have used in the past and provide information that let the challenge organizer identify the strategy that enables their goal.

[2021-02-16 15:25] tschaffter commented on #12
@ychae Following [this discussion](https://github.com/nlpsandbox/nlpsandbox-website-synapse/issues/45), can you please update the rules so that we no longer request models to be released publicly?

[2021-02-18 12:31] thomasyu888 opened #51 "Ask governance to make the entity previewed on "Build a Tool" page completely public"
### Problem description

When you render an entity preview, users must be logged in to see the preview, or theres a box that says, please log in to view the entity.   See this page: https://www.synapse.org/#!Synapse:syn22277124/wiki/608483

### Possible Solution
Since this will eventually be whats on the public page, I suggest that we make this entity completely public so people don't have to be l

[2021-02-18 17:32] tschaffter commented on #51
Good to know! However in this case I won't insert a preview of the OpenAPI specification because the HTML preview keeps growing and growing vertically so that it's impossible to reach the bottom of the page and stay there. This could be fixed by setting a document max height in the HTML document. I still prefer to redirect to the HTML page hosted on GitHub Pages for a full window rendering.

[2021-02-18 17:32] #51 closed

[2021-02-18 19:01] ychae commented on #45
@allaway Would it be alright if I summarized/incorporated some of your feedback and text into the NLP-Sandbox Rules page that I'm putting together? I'll request your review so that you can check the copy before it's released.

[2021-02-18 19:06] allaway commented on #45
Please take/paraphrase/repurpose whatever you need!

On Thu, Feb 18, 2021 at 11:01 AM Yooree Chae <notifications@github.com>
wrote:

[2021-02-21 01:17] tschaffter opened #54 "Fix page column position"

[2021-02-22 00:35] tschaffter opened #55 "Increase the size of the latex equation"
### Is your proposal related to a problem?

The equation that describes the precision, recall and F1 score are too small to be read.

![image](https://user-images.githubusercontent.com/3056480/108644146-a9d72b80-7462-11eb-8b7a-f2b2aaf6aac1.png)

### Describe the solution you'd like

Increase the size of the equations

Synapse page: https://www.synapse.org/#!Synapse:syn24982039
The change must be m

[2021-02-22 00:38] thomasyu888 commented on #55
Can it be changed? Is this a Jira ticket?

[2021-02-22 01:30] thomasyu888 commented on #42
Workflow inputs:

dataset_name: 2014-i2b2
dataset_version: 2013...
api_version: 1.0.0

[2021-02-22 01:47] tschaffter commented on #55
@yy6linda Tom said that you probably can't increase the font. Instead I'll create image of these equation. I don't mind doing that.

[2021-02-22 02:24] thomasyu888 commented on #55
@yy6linda and @tschaffter .  I spoke with Jay and he actually brought to my attention there may be ways to change the font size in latex.  We may want to look at latex convention to change the font size.

[2021-02-22 03:16] #55 closed

[2021-02-22 05:22] tschaffter commented on #44
@thomasyu888 I'll look at how to take care of these general redirections (see above).

Regarding the user of nlpsandbox.io and the CF template(s) deployed to SciComp, Xa said:

[2021-02-22 05:51] tschaffter commented on #54
Here is another preview of my approach (private Synapse page), which is more comfortable to read than screen-wide paragraphs. What I'm looking for is to align the left side of the page content to the left side of the page title.

![image](https://user-images.githubusercontent.com/3056480/108667883-f20c4300-748e-11eb-87f1-fc6148b99685.png)

From a design perspective, one may consider to add more sp

[2021-02-22 18:56] #42 closed

[2021-02-22 22:32] tschaffter commented on #54
@Jay: In addition to enabling me to align my page content with the left border of the page title, would it be possible to add more horizontal space between the Table of Content (gray rectangle) and the page title?

[2021-02-24 04:31] tschaffter commented on #44
Also add https://www.nlpsandbox.io/tools/date-annotator/leaderboards and similar ones

[2021-02-24 16:49] tschaffter commented on #54
## Update

Here is a summary of what I would like to change (see screenshot below)

1. Increase the distance A so that the page title is further away from the TOC
2. Have the distance B set to 0 AND be able to define C (by default C is as width as the window width - TOC width, which may be strenuous for the reader).

![image](https://user-images.githubusercontent.com/3056480/109034821-e0888e00-767

[2021-02-24 16:57] tschaffter commented on #54
I opened this [Jira ticket](https://sagebionetworks.jira.com/browse/SWC-5421).

[2021-02-24 17:45] tschaffter opened #57 "Recommend user to authenticate to docker.synapse.org using a personal access token"
### Is your proposal related to a problem?

Using password and API key are old tech.

### Describe the solution you'd like

Update the documentation to recommend NLP Developers to authenticate to docker.synapse.org using a personal authentication token.

[code]

[2021-02-24 18:57] tschaffter opened #58 "Update CI/CD workflow to rely on bot personal access token instead of API key"
### Is your proposal related to a problem?

Using personal access token is preferred to using API key for security reason.

### Describe the solution you'd like

1. Using the bot account, create a token
2. Update the CI/CD workflow to use the token

[2021-02-24 22:00] tschaffter commented on #13
@ychae After thinking about it, I don't want to encourage the users of the NLP Sandbox to participate anonymously. Can this information be removed from the click wrap?

[2021-02-24 23:59] thomasyu888 commented on #58
Soon the synapsePythonClient will support this method.  For now it is blocked.

[2021-02-25 01:14] ychae commented on #13
@tschaffter I don't see why not! I'll add the updated text to the JIRA ticket.

[2021-02-25 01:17] ychae commented on #13
And by add, I mean remove the Anonymous participant section 😅

[2021-02-26 16:54] tschaffter opened #59 "Create Synapse team NLP Sandbox Alumni"
## Motivation

Connor is interested in developing and submitting NLP tools to the NLP Sandbox after the end of his internship at Sage. Connor is currently a member of the Synapse NLP Sandbox Team and I think that this would prevent him from submitting on his own (@thomasyu888 is that correct?). This could be solved by removing Connor from the NLP Sandbox Team. However I'd like to keep a trace and

[2021-02-27 01:58] ychae commented on #13
I've started a [doc](https://docs.google.com/document/d/1GsVVMWcbH4gfPXAuhUF0UfRhDVbUl8cX_oqrsIxQSkc/edit#heading=h.5of66iuo2r3t) on what the possible process could be to update the click-wrap in the future if needed.

[2021-02-28 01:28] #57 closed

[2021-03-06 00:31] tschaffter commented on #59
I created the team for [alumni](https://www.synapse.org/#!Team:3423146)

@cascadianblue

[2021-03-06 00:31] #59 closed

[2021-03-09 03:39] tschaffter commented on #44
I successfully set redirects using Route 53 and S3 buckets after reading [this article](https://www.fernandomc.com/posts/serverless-domain-forwarding-aws/).

Current redirects:
nlpsandbox.io => https://github.com/nlpsandbox/nlpsandbox-schemas
www.nlpsandbox.io => https://github.com/nlpsandbox/nlpsandbox-schemas

Unfortunately there is an issue while redirecting to Synapse because of the way Synaps

[2021-03-09 03:58] tschaffter commented on #44
See https://sagebionetworks.jira.com/browse/PLFM-6630

[2021-03-09 04:03] tschaffter commented on #44
- [ ] Enable HTTPS redirects (currently only works with HTTP)

EDIT: I just requested a certificate for `nlpsandbox.io` and `www.nlpsandbox.io` in AWS Certificate Manager.

[2021-03-09 04:50] jay-hodgson commented on #44
Not sure if I'm following, but does it work if you redirect to www.synapse.org/nlpsandbox ? (Skip the www redirect)

[2021-03-13 19:03] tschaffter commented on #13
The current registration should be fine. Will reopen if there is an issue later when using it on the production site.

[2021-03-13 19:03] #13 closed

[2021-03-14 00:28] tschaffter commented on #44
The configuration of the redirections in AWS is tracked in this [Jira ticket](https://sagebionetworks.jira.com/browse/PLFM-6630).

[2021-03-14 17:59] tschaffter commented on #44
S3 bucket configuration for nlpsandbox.io (another bucket is required for www.nlpsandbox.io):

![image](https://user-images.githubusercontent.com/3056480/111078760-5598f780-84b4-11eb-9baf-2926e45b1519.png)

[code]

[2021-03-14 21:39] tschaffter commented on #44
This redirections work when using the full s3 bucket URL, e.g.

- http://nlpsandbox.io.s3-website-us-west-1.amazonaws.com
- http://nlpsandbox.io.s3-website-us-west-1.amazonaws.com/tools/date-annotator/leaderboard

[code]

However the following redirection does not work as it redirects to google.com, which is a domain name I set earlier today in the configuration of an s3 bucket but I have removed

[2021-03-14 21:44] tschaffter commented on #44
I tried with my phone connected to the cellular network and the above url still redirects to google, so it seems that the results is cached by AWS/CloudFront.

[2021-03-14 21:47] tschaffter commented on #44
I used [this solution](https://stackoverflow.com/a/63238713) to invalidate the content of the cache of the CloudFront distribution. The redirection works as expected now.

[2021-03-14 21:54] tschaffter commented on #44
I also added a redirection for our discord server. Here is the configuration of the S3 buckets `nlpsandbox.io` and `www.nlpsandbox.io`:

[code]

[2021-03-14 21:54] #44 closed

[2021-03-22 01:23] thomasyu888 commented on #11
This might be something for the `nlpsandbox-controllers` repo actually.

[2021-04-01 21:28] tschaffter commented on #12
An initial version of the rules is publicly available.

[2021-04-01 21:28] #12 closed

[2021-04-01 21:30] tschaffter commented on #45
The NLP developers are free to set the sharing permission of their submissions as they wish. Incentives are given for those who release their tool under an open license (by setting a value to `Tool.license` different from `None`).

[2021-04-01 21:30] #45 closed

[2021-04-01 21:36] tschaffter opened #77 "GitHub is unable to process the CI workflow"
I will try again in a few hours.

https://github.com/nlpsandbox/nlpsandbox.io/actions/runs/709873804

[2021-04-01 21:40] tschaffter commented on #58
@thomasyu888 I think that the latest version of the Synapse client for Python now supports PAT. We should now be able to use PAT with challengeutils since it depends on [synapseclient>=2.3.0](https://github.com/Sage-Bionetworks/challengeutils/blob/c92c4712adcaf6ba5f571cd7a061aa86195c9772/setup.py#L32).

[2021-04-13 20:17] tschaffter opened #78 "Fix broken image Date annotator UI image"
11:26:00 From  Paul Heider  to  Everyone : https://www.synapse.org/#!Synapse:syn22277123/wiki/609130
11:26:22 From  Paul Heider  to  Everyone : ![Date Annotator Example UI]

[2021-04-13 20:45] tschaffter opened #79 "Add information about compute resources available to Docker containers"
### Is your proposal related to a problem?

Developers currently don't know the CPU and memory resources available to their tools in the benchmarking categories that we support.

### Describe the solution you'd like

For each benchmark, add information about the compute resources available to the Docker container. Here are suggestions:

- CPU: num cores and freq
- Memory: Memory available in GB
-

[2021-04-14 21:16] #78 closed

[2021-04-14 21:55] tschaffter commented on #58
The workflow is stuck when trying to use PAT..

![image](https://user-images.githubusercontent.com/3056480/114789890-a8c2cc00-9d38-11eb-81e7-b3b492499914.png)

[2021-04-14 22:48] tschaffter commented on #58
Running the push command locally using the bot PAT works fine..

[code]

[2021-04-14 22:54] tschaffter commented on #58
@thomasyu888 The solution to the above problem was to remove the double quotes around the username and authtoken.

[2021-04-14 22:54] #58 closed

[2021-04-14 22:59] tschaffter commented on #77
I think that this was due to a temporary issue on GH side.

I successfully pushed now an update to the staging and production site.

[2021-04-14 22:59] #77 closed

[2021-04-14 23:01] tschaffter commented on #29
@thomasyu888 Any update on adding this feature? Can we copy/paste the solution used in other challenges?

[2021-04-14 23:02] tschaffter commented on #8
This ticket is outside of the scope of this repository. Maybe this will be addressed as part of Synapse Formation, which may one day enable the deployment of wiki pages.

[2021-04-14 23:02] #8 closed

[2021-04-14 23:07] tschaffter commented on #54
## Update

Updated the JIRA ticket to get a sense of how long it would take to implement the proposed solution.

[2021-04-15 03:45] thomasyu888 commented on #79
@tschaffter , which page did you want this information? Under "NLP Users" or a new page under "Resources"?

[2021-04-15 03:48] tschaffter commented on #79
The page "NLP Users" is meant for the users, not the developers who benchmark. The best place is probably a section that list resources on the page "PHI Annotation and de-identification". That way we can have different resources for different series of tasks.

[2021-04-15 04:17] tschaffter commented on #29
Tom said:

The orchestrator would fail

[2021-04-15 04:24] thomasyu888 commented on #29
@tschaffter I think what I need to do is spend a lot of time testing the cancel feature, because it caused a lot of problems for one challenge that we originally had implemented so I disabled it from then on.

[2021-04-15 05:07] thomasyu888 commented on #79
@tschaffter , this could get complicated quickly if each tool could have their own resources, since each site could also have different compute resources.

[2021-04-15 16:27] tschaffter commented on #79
You're right. Let's keep is simple for now. Ultimately we should capture the compute resource information in a structure way (metadata). One of the partner organization I met with this week was also interested in tracking the time it take for a method to process N notes.

[2021-04-21 04:12] #79 closed

[2021-04-29 14:09] tschaffter opened #86 "Add ID annotator information to the Tasks section"
Follow the example of the existing annotators.

[2021-04-29 14:10] tschaffter opened #87 "Add contact annotator information to the Tasks section"
Follow the example of the existing annotators.

[2021-04-29 14:12] tschaffter commented on #86
Depends on https://github.com/nlpsandbox/nlpsandbox/issues/41

[2021-04-29 14:12] tschaffter commented on #87
Depends on https://github.com/nlpsandbox/nlpsandbox/issues/42

[2021-04-29 14:14] tschaffter opened #88 "Enable benchmarking infrastructure to evaluate ID annotator"
- [x] add submission queue
- [x] update controller
- [x] add leaderboard table

Depends on https://github.com/nlpsandbox/nlpsandbox/issues/41

[2021-04-29 14:16] tschaffter opened #89 "Enable benchmarking infrastructure to evaluate contact annotator"
- [x] add submission queue
- [x] update controller
- [x] add leaderboard table

Depends on https://github.com/nlpsandbox/nlpsandbox/issues/42

[2021-04-29 14:17] tschaffter commented on #89
Tentatively assigning to @thomasyu888

[2021-04-29 14:17] tschaffter commented on #88
Tentatively assigning to @thomasyu888

[2021-05-27 03:44] tschaffter commented on #44
### Update 2021-05-26

About redirections, the final solution uses a single S3 bucket named nlpsandbox.io . Route 53 has two A records, nlpsandbox.io and www.nlpsandbox.io that both redirect to the CloudFront distribution connected to the S3 bucket.

[2021-05-29 06:19] tschaffter commented on #87
I have an idea to make the page more user-friendly.

[2021-05-29 06:20] tschaffter commented on #86
I have an idea to make the page more user-friendly.

[2021-05-29 06:20] tschaffter commented on #18
https://sagebionetworks.jira.com/browse/DESIGN-377

[2021-05-29 06:21] tschaffter commented on #17
https://sagebionetworks.jira.com/browse/DESIGN-377

[2021-05-29 06:22] tschaffter commented on #7
Update dataset page then close this ticket.

[2021-05-29 06:24] tschaffter opened #92 "Review Rules one more time before launch"
https://www.synapse.org/#!Synapse:syn22277124/wiki/604831

[2021-05-29 06:25] tschaffter opened #93 "Create multi-site compatible leaderboard"
- [x] Select the columns in the leaderboard (@tschaffter )
- [ ] Implement the leaderboard (@thomasyu888 )

[2021-05-29 21:11] tschaffter commented on #18
### TODO

- [x] Ask Stockard to render black and white logo using [simpleicons](https://simpleicons.org/) image spec used in badges.

[2021-06-02 01:03] jiaxinmachine88 commented on #18
Updated Jira ticket with comments around (1) preference for #1 and (2) need for b+w logo render using simple icons

https://sagebionetworks.jira.com/browse/DESIGN-377

[2021-06-03 23:19] tschaffter commented on #18
Done

[2021-06-03 23:19] #18 closed

[2021-06-03 23:19] tschaffter commented on #17
Done

[2021-06-03 23:19] #17 closed

[2021-06-04 00:25] tschaffter opened #94 "Place user registration button to the home page"

[2021-06-04 00:28] #94 closed

[2021-06-04 18:13] jiaxinmachine88 commented on #92
Doc link can be found [here](
https://docs.google.com/document/d/1bq-b_G7-1iKoLbewKPj0LXCzqSdsLQziN4Y5Ohf7oAE/edit#heading=h.iv2767ldm99j). Main feedback for @tschaffter to consider:

**Organization and Structure **
Lots of good content here. Tried to bring relevant bullet points together with these groupings:

- (1) Registering for NLP Sandbox: more tactical rules that affect developer workflow
-

[2021-06-04 18:16] jiaxinmachine88 commented on #92
A point of consideration for the future: per Meg Doerr's [readability guidelines](https://sagebionetworks.org/wp-content/uploads/2019/01/Primer-on-readability-25April17-1.pdf), I used Microsoft word to get some readability statistics.

The NLP Sandbox rules are currently readable for a college student or graduate.
If we want to make them readable to a wider audience of Americans, we may want to do

[2021-06-04 22:08] tschaffter commented on #92
This sounds like the right audience given that participating requires college student or graduate-level+ software development skills.

[2021-06-05 02:05] thomasyu888 commented on #93
@tschaffter You can see a list of columns to choose from here: https://www.synapse.org/#!Synapse:syn23747126/tables/.  This is where SQL joins would be a lot more powerful than what I am doing here...  we also have to think about the addition of new sites.  As new sites get added the leaderboard will get wider and wider.

[2021-06-05 03:54] tschaffter commented on #93
@thomasyu888 I keep hesitating between creating a table that has N columns for N data sites. I guess I would like to give it a try in order to be satisfied. Since enabling multi-site evaluation is a powerful contribution of this project, I feel like having a table that show this information in a straightforward way can only help to make our point.

For the date annotator, could you create a table

[2021-06-05 23:44] tschaffter commented on #87
@thomasyu888 Do you know whether we will be launching with ID and Contact support or if we want to enable this tasks a couple of weeks from after launch?

[2021-06-05 23:46] tschaffter opened #97 "Add list of important dates to home page"
Important dates may include:

- Enabling training on data site
- Enabling ID and Contact annotation
- Enabling COVID-19 annotation
- Next deadline to be featured in PHI Deidentifier (e.g. updated every month)

@nlpsandbox/team Thoughts on important dates / roadmap that we may include on the home page to show users what's coming next - and give them a reason to look forward to them!

[2021-06-06 00:29] thomasyu888 commented on #87
@tschaffter I dont see the ID and contact data in the i2b2 version 1 dataset.  Ill look closer again, maybe I'm missing something

[2021-06-06 03:32] tschaffter commented on #87
@thomasyu888 You're right, ID and contact annotations didn't end up to the version 1.0.0 of the i2b2 dataset.

[2021-06-06 03:40] tschaffter commented on #87
@thomasyu888 Here is the [version 1.1.0 of the i2b2 phi dataset](https://www.synapse.org/#!Synapse:syn25836160).

[2021-06-06 03:46] #87 closed

[2021-06-07 04:12] tschaffter commented on #93
@thomasyu888 Can you create a prototype of this top table for the date annotator?

[2021-06-07 06:25] thomasyu888 commented on #93
@tschaffter Before moving forward, please see the leaderboard on this page as an example: https://www.synapse.org/#!Synapse:syn22277124/wiki/611022

We absolutely don't need to have only one leaderboard,  we could definitely split it up, but it just becomes more cumbersome for individuals to link submissions by submission Id.  (Sort of like how we did it in EHR challenge)

[2021-06-08 06:07] #92 closed

[2021-06-08 06:08] tschaffter opened #100 "Update README"
- Add banner
- Add badges to NLP Sandbox

[2021-06-08 07:22] #93 closed

[2021-06-08 23:15] tschaffter commented on #97
Done

[2021-06-08 23:15] tschaffter commented on #86
Done

[2021-06-09 02:17] thomasyu888 opened #111 "Modify leaderboards to only show is submission passes on all data sites"

[2021-06-09 04:02] #89 closed

[2021-06-09 04:02] #88 closed

[2021-06-09 04:52] #111 closed

[2021-06-09 21:30] yy6linda commented on #7
I found this in their [publication](https://www.sciencedirect.com/science/article/pii/S1532046415001173?via%3Dihub), but not specific protocols
[code]

[2021-06-18 23:19] tschaffter opened #119 "Add tool version to submission dashboards"
We recently added the tool version - not the api version - to the leaderboard tables. @cascadianblue suggested to add this information to the submission dashboard too to make it easier to track the identity of each submission.

[2021-06-22 04:46] #119 closed

[2021-06-22 17:05] tschaffter opened #123 "Set token-level evaluation metrics as the primary score"
The current definition of the score displayed in the leaderboard tables is the instance-level evaluation metric. Instead, we want to use the token-level evaluation metric as score now because this metric is more friendly with existing methods that do not try to identify subtypes (e.g. city, state, etc. for location annotation). The token-level evaluation metric is already computed by @yy6linda eva

[2021-06-24 20:42] #123 closed

[2021-06-25 23:08] tschaffter opened #126 "Clarifify what the column `status` mean in the submission dashboards"
Is it a general status? Is it the status for the run on the i2b2 dataset?

Tagging @cascadianblue

[2021-06-25 23:11] tschaffter opened #127 "Rename `dataset name` and `dataset version` columns in submission dashboards"
Rename to `i2b2 Dataset Name` and `i2b2 Dataset Version`.

In general, try to be consistent regarding the fact that we have more than one dataset site. If we have an "MCW something", we should have "i2b2 something".

Tagging @thomasyu888

[2021-06-25 23:19] tschaffter opened #128 "Provide description about the log column in the submission dashboard"
User may not know whether the log file includes data from which data sites. I know that we are not returning data from MCW but users will not expect this behavior. Consider adding a description below the submission dashboard to say what is included in the log file, how often the logs are refreshed, etc.

Tagging @cascadianblue

[2021-06-25 23:30] tschaffter opened #129 "Are the submission logs meant to be on Staging?"
Connor and I would expect to find the log on the production site. The users should never be redirected to the staging site.

[2021-06-26 04:13] tschaffter commented on #129
@thomasyu888 Can you please comment on this ticket before closing it?

[2021-06-26 04:26] thomasyu888 commented on #129
@tschaffter I moved the i2b2 logs to the live site and kept the MCW logs in staging

[2021-06-26 04:26] #129 closed

[2021-06-28 13:11] #126 closed

[2021-06-28 13:11] #127 closed

[2021-06-28 13:11] #128 closed

[2021-06-28 13:40] thomasyu888 commented on #29
@tschaffter Cancelling submissions can be done like this: https://www.synapse.org/#!Synapse:syn22277124/wiki/611450.  Any submissions that are processing on the i2b2 dataset can be cancelled, but not on the  internal queues.  A red "cancel" button will appear in the "cancelControl" column.

Unfortunately, it can't be part of the dashboard table because the "cancelcontrol" type isn't supported in s

[2021-06-28 14:38] tschaffter commented on #29
@thomasyu888 Thanks for the update. Can you contact the Synapse team to ask them to support this `cancelcontrol` type button?

[2021-06-28 14:46] thomasyu888 commented on #29
@tschaffter I'll see if I filed a jira for this in the past already.  I don't think it will be an easy addition as this feature is explicitly for queues and adding cancelcontrol as a column render type affects all tables in Synapse.  The hack would be to have a cancel submissions page, but would sort of duplicate the dashboard pages...

[2021-06-28 15:15] tschaffter commented on #29
@thomasyu888 I don't dislike the idea. We could add a page to the Dashboard section that list all the submissions the user is entitled to cancel.

[2021-06-28 15:58] thomasyu888 commented on #29
@tschaffter This JIRA ticket: https://sagebionetworks.jira.com/browse/PLFM-6257 states that these won't be added to submission views.  Ya, we could definitely add to the dashboard pages

[2021-07-04 13:16] tschaffter opened #133 "Upgrade CI workflow"
- Use `configure` job
- Add challengeutils to conda env files so that it's picked up by dependabot

[2021-07-04 14:52] tschaffter opened #135 "Update section Important Dates on the home page"

[2021-07-06 16:43] tschaffter opened #136 "The size of the column 'submission_status' is too small. The column size needs to be at least 22 characters."
Just submitted to the contact annotation queue. I get this message on the [dashboard page](https://www.synapse.org/#!Synapse:syn22277123/wiki/611539).

![image](https://user-images.githubusercontent.com/3056480/124637313-6fcd5b80-de3e-11eb-8638-11c1e7708b47.png)
![image](https://user-images.githubusercontent.com/3056480/124637396-9095b100-de3e-11eb-9a0d-42131719bb3a.png)

[2021-07-06 16:44] tschaffter commented on #136
Same behavior on the Id and Covid annotation dashboard.

[2021-07-06 16:46] thomasyu888 commented on #136
Fixed

[2021-07-06 16:46] #136 closed

[2021-07-07 21:56] cascadianblue opened #139 "Add Log Request Button to Submission Dashboard"
### Is your proposal related to a problem?

It's currently fairly hard for your average web user to find the log request form on the website (I believe the only way to find it is if you know to navigate to the discussion page).

### Describe the solution you'd like

I think there should be a [NLP Sandbox Submission Log Request](https://www.synapse.org/#!Synapse:syn22277123/discussion/threadId=7774

[2021-07-13 13:46] tschaffter opened #141 "Make the Admin leaderboards more informative"
The admin leaderboards don't show information about the MCW dataset nor the name of the tool.

Suggestion: Mirror the content of the "production" leaderboard to the admin leaderboard.

[2021-07-13 13:47] tschaffter commented on #139
@cascadianblue Can you please open a PR?

[2021-07-13 14:00] tschaffter opened #142 "Identify a way to indicate when a data site is down."
MCW is currently down. I was able to know that by asking @gkowalski, but this information would be more difficult to get by a user of the NLP Sandbox.

### Task

- [x] Create a new page on the website to report the status and history of issues related to the data sites.
- [x] Include a section to the website that indicates the status of the data site. Example:
  - Column 1: Name of the data site

[2021-07-13 14:02] thomasyu888 commented on #141
@tschaffter I actually recommend looking at the submission views instead of using these admin pages:

* Admin view: https://www.synapse.org/#!Synapse:syn23633030/tables/
* View that shows all the test queues: https://www.synapse.org/#!Synapse:syn23512270/tables/
* Leaderboard view: https://www.synapse.org/#!Synapse:syn23747126/tables/

[2021-07-13 14:42] tschaffter commented on #142
Done: https://www.synapse.org/#!Synapse:syn22277123/wiki/611634

[2021-07-13 14:42] #142 closed

[2021-07-13 20:05] tschaffter commented on #141
I like this @thomasyu888 ! This will contribute to declutter the admin section of the wiki. Can you open a PR?

[2021-07-14 01:33] thomasyu888 commented on #141
@tschaffter Did you want me to delete all the admin leaderboard pages and just add one page

[2021-07-14 14:16] tschaffter commented on #141
@thomasyu888 Yes

[2021-07-17 02:53] tschaffter commented on #7
@yy6linda For info we now have a folder named `Mayo Clinic` in the NLP Sandbox G Drive. This folder includes a doc that we use to track progress on the preparation of Mayo Clinic dataset formatted using the i2b2 standard (later converted to the NLP Sandbox schemas). Not posting the link to the doc here for security reason.

[2021-07-21 14:25] #141 closed

[2021-08-15 14:30] tschaffter opened #152 "Create Submission Overview Dashboard using flexdashboard"
Create a dashboard that includes statistics about the tools evaluated in the NLP Sandbox. Example of metrics include:

General stats:

- Number of unique submitters
- Number of tasks / benchmarks open
- Latest version of the NLP Sandbox schemas
- Number of datasets / data sites
- Number of unique tools (e.g. using the `Tool.name`)
- Programming languages used by the tools (would need to add `Tool.

[2021-08-19 16:23] tschaffter commented on #152
The dashboard will be developed in [this repository](https://github.com/nlpsandbox/participation-dashboard).

[2021-08-19 16:29] tschaffter commented on #152
@jiaxinmachine88 Could you please create a document to track what we want to go in this participation dashboard? Maybe a google docs with a section for each metrics. Each section should provide at least the following information:
- Name of the metric (e.g. `Tools`)
- Description of the metric (e.g. `Number of unique tools`)
- How to compute the metric value (e.g. `From submission X, count the numb

[2021-08-20 15:39] andrewelamb commented on #152
I'm going with these assumptions for now, feel free to correct:

"Number of unique submitters"

unique(submitterid)

"Number of tasks / benchmarks open"

Could you elaborate? Something to do with the status column?

"Latest version of the NLP Sandbox schemas"

Could you elaborate?

"Number of datasets / data sites"

unique(dataset_name) Could you elaborate on data sites?

"Number of unique tools (

[2021-08-20 16:44] tschaffter commented on #152
@andrewelamb

We could use the number of unique evaluation ID listed in [this table](https://www.synapse.org/#!Synapse:syn23633030/tables/query/eyJzcWwiOiJTRUxFQ1QgKiBGUk9NIHN5bjIzNjMzMDMwIiwgInNlbGVjdGVkRmFjZXRzIjpbeyJjb25jcmV0ZVR5cGUiOiJvcmcuc2FnZWJpb25ldHdvcmtzLnJlcG8ubW9kZWwudGFibGUuRmFjZXRDb2x1bW5WYWx1ZXNSZXF1ZXN0IiwgImNvbHVtbk5hbWUiOiJldmFsdWF0aW9uaWQiLCAiZmFjZXRWYWx1ZXMiOltdfV0sICJpbmNsdWRl

[2021-08-20 16:45] andrewelamb commented on #152
![Screenshot from 2021-08-20 09-43-26](https://user-images.githubusercontent.com/7220713/130266664-bc3b5437-224b-4688-97b3-a36e77e70f15.png)

[2021-08-20 17:07] andrewelamb commented on #152
![Screenshot from 2021-08-20 10-05-54](https://user-images.githubusercontent.com/7220713/130269103-3d15a429-2c30-4a1d-a149-d12498e071b7.png)

[2021-08-20 17:37] tschaffter commented on #152
@andrewelamb The number of tasks open (.i.e. evaluation queues) is incorrect. I could 6 evaluations queues on the table page. The rest looks good!

[2021-08-20 17:41] andrewelamb commented on #152
@tschaffter Yep, I was grabbing the wrong column. Thta's been fixed.

[2021-08-23 20:14] andrewelamb commented on #152
@tschaffter Would it be all right to use @thomasyu888's credentials for the docker image? He would need read permission to [the source table](https://www.synapse.org/#!Synapse:syn23633030/tables/) and edit permission to the directory we would want to store the html output file.

[2021-08-23 20:48] tschaffter opened #153 "Release with release-it"
Get better release Changelog generated by release-it.

[2021-08-23 20:53] tschaffter commented on #152
@andrewelamb Where is the Docker container going to run? We have a bot account that we can use for this task. I'll create the token and share it with you using our favorite password manager.

[2021-08-23 21:04] andrewelamb commented on #152
@tschaffter, I don't have an answer to either of those questions. :) @thomasyu888 ?

[2021-08-23 21:05] thomasyu888 commented on #152
@tschaffter It will run on our kubernetes cluster and it will need to be a Synapse PAT with download permissions.

[2021-08-23 21:41] tschaffter commented on #153
Actually it's easier to trigger update using GH interface.

[2021-08-23 21:41] #153 closed

[2021-08-23 21:44] tschaffter commented on #153
Actually release it is already part of the repo :) Then it's to the user to decide whether to release-it or not for creating releases.

[2021-08-24 02:07] tschaffter commented on #152
Sounds good!

[2021-08-24 16:13] gkowalski commented on #152
See https://github.com/Sage-Bionetworks/SynapseWorkflowOrchestrator/issues/31

[2021-08-24 21:28] tschaffter commented on #152
Closing this issue in favor of smaller issues to be created in repository of the dashboard: https://github.com/nlpsandbox/participation-dashboard

[2021-08-24 21:28] #152 closed

[2021-09-07 23:21] tschaffter opened #155 "Collect feedback for the video on NLP Sandbox Notebooks and Data Node"
- Use the word "Alright" less frequently
- Several plural words are missing their "s"

[2021-09-13 21:07] tschaffter opened #156 "Publish performance dashboard on leaderboard pages"

[2021-09-13 21:28] #156 closed

[2021-09-13 21:59] tschaffter opened #158 "Publish overall participation dashboard"

[2021-09-13 22:19] #158 closed

[2021-11-04 15:33] tschaffter opened #160 "Review NLPSandbox.io website"

[2021-11-16 17:57] cascadianblue opened #162 "Include More NLP Terminology in Site/Wiki"
[This page](https://github.com/nlpsandbox/nlpsandbox.io/blob/01028a70ad697556e0b64d544cdb6e826442fa23/wiki/608037-PHIAnnotationDeIdentification.md?plain=1) (and perhaps others) could benefit from using more NLP-centric terminology.

The terms "token(-level) classification" and "named entity recognition" would be a helpful way to optimize for readability/cut through the noise.

[2022-03-15 16:54] tschaffter opened #164 "Mess `(TypeError): a is undefined` shown in place of the leaderboard tables"
https://www.synapse.org/#!Synapse:syn22277123/wiki/608546

Note: I'm presenting the NLP Sandbox at the AMIA 2022 Informatics Summit next week.

[2022-03-15 23:49] thomasyu888 commented on #164
@tschaffter I think this was a platform bug: https://sagebionetworks.jira.com/browse/SWC-6043.  I think it is fixed as I can see the leaderboard now.  Please close if you also confirm its working.

[2022-03-16 00:01] tschaffter commented on #164
I still see the error message and not the leaderboard, at least one the Location Annotation Leaderboard page. Will try again later.

![image](https://user-images.githubusercontent.com/3056480/158491505-6558bff6-60b2-4f64-97b5-98f948e11954.png)

[2022-03-16 00:06] thomasyu888 commented on #164
@tschaffter, my apologies - I tried in incognito mode and I could reproduce an error.  I think the fix has yet to be deployed?